---
import BaseHeadIndex from "../components/BaseHeadIndex.astro";
import MetaTags from '../components/MetaTags.astro';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import GalleryCarousel2 from "../components/GalleryCarousel2.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHeadIndex title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <section class="h-screen flex items-center justify-center bg-gray-100">
      <GalleryCarousel2 />

      </section>
    </main>

    <Footer />


  </body>

</html>
